<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <title>My App</title>
      <style>
        body{
          color: whitesmoke;
        }
        .maior{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

        }
        .div{
          text-align: center;
          margin-top: 100px;
          width: 800px;
          margin-left: 50px;
          background-color: rosybrown;
        }
        .btn{
          cursor: pointer;
          background-color: wheat;
        }
      </style>
  </head>
  <body>
    <div class="maior">
      <div class="div">
        <h1>Adicione um novo filme</h1>
        <form action="/add" method="post">
            <div class="container">
                <div class="form-group">
                    <label for="inputNome" class="form-label mt-4" style="font-weight: bold;">Nome</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="nome" 
                    name="nome"
                    aria-describedby="nomeHelp" 
                    placeholder="">
                    <button type="submit" name="btDB1" class="btn" style="font-weight: bold;">BD1</button>
                    <button type="submit" name="btDB2" class="btn" style="font-weight: bold;">BD2</button>
                </div>
            </div>
        </form>
        <h1>Listagem de Filmes</h1>
        <form action="/remove" method="post">
          <ul>
            {{#each movies}}
            <li style="font-size: large;font-weight: bold;">
              {{nome}}
              {{#if db1}}
                <button type="submit" name="removeBD1" class="btn" value="{{nome}}" style="font-weight: bold;">Remover de BD1</button>
              {{/if}}
              {{#if db2}}
                <button type="submit" name="removeBD2" class="btn" value="{{nome}}" style="font-weight: bold;">Remover de BD2</button>
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>